.formGroup {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  input:focus,
  select:focus {
    border-color: #007bff;
  }
  
  .butRent {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
   margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

  }
  
  .butRent:hover {
    background-color: #0056b3;
  }

  .error {
    border-color: red;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loadingSpinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
   
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 4px solid #007bff; /* Цвет вашего спиннера */
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite; 
  }
  .spinnerText{
    font-weight: bold;
  }
  .successIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  
}

.successText {
  font-weight: bold;
  margin-top: 10px;
}

.successIcon {
  width: 40px;
  height: 40px;
  fill: #4CAF50; /* Зеленый цвет для галочки */
  margin-bottom: 10px;
}