.global {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  background: #10162f;
  box-sizing: border-box;
  width: 100vw;
}

.twoTable {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  width: 65%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.oneTable {
  width: 608px;
  height: 467.14px;
}
.headerText {
  display: inline-flex;
  max-width: 928px;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.39px;
  background: #10162f;
  box-sizing: border-box;
}
.text {
  color: #fff;
  
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px; /* 120% */
  background: #10162f;
}
.text1 {
  color: #fff;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 76.8px; /* 123.871% */
  background: #10162f;
  margin-bottom: 39.39px;
}
.text2 {
  color: #fff;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.16px; /* 160% */
  background: #10162f;
  margin-bottom: 23.28px;
}
.screenshot {
  width: 608px;
  height: 59.83px;
  flex-shrink: 0;
  background: #10162f;
}
/* .secondTable{
    width: 590.77px;
height: 467.14px;
display: flex;
padding-left: 0px;
justify-content: flex-end;
align-items: flex-start;
} */
.center {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.text4 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 53.68px; /* 127.81% */
}
.text5 {
  color: #fff;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px; /* 144% */
}
.input {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.99px;
}
.inputText {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
  max-height: 19.2px;
  margin-top: 24.91px;
}
.input1 {
  width: 291.38px;
  height: 50px;
  background: #10162f;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}
.input2 {
  gap: 3.99px;
}
.input3 {
  width: 291.38px;
  height: 50px;
  background: #10162f;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  margin-top: 4px;
}
.footer1 {
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 8px 19.425px 8px 19.625px;
  justify-content: center;
  align-items: center;
  background: #ffd300;
  border: none;
  color: #10162f;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}
.main {
  background-color: white;
  width: 100vw;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.mainHeader {
  display: flex;
  max-width: 928px;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
  gap: 16px;
}

.mainText {
  color: #10162f;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.8px; /* 131.613% */
}
.mainText1 {
  color: #10162f;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.16px; /* 160% */
  width: 600px;
}
.mainTwo {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  gap: 32px;
}
.karta {
  width: 500px;
  margin-top: 28px;
}
.mainText2 {
  display: flex;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.8px;
  margin: auto;
  width: 65%;
}
.text7 {
  color: #10162f;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.8px; /* 127.5% */
}
.text8 {
  color: #10162f;
  
  font-size: 17.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.16px; /* 160% */
}
.carta {
  width: 288px;
  height: 233.8px;
}
.table {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  box-sizing: border-box;
  height: 300pxз-хзх;
}
.cartaText {
  color: #10162f;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.8px; /* 130% */
  margin-top: 32px;
}
.cartaText1 {
  color: #10162f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 16px;
}
.cartaText2 {
  color: #3a10e5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}
.logo1 {
  margin-top: 47.28px;
}
.main {
  border-color: white;
}