.headerClass {
  margin-top: 20px;
  position: fixed;
  left: 50%;
  width: 100%;
  transition: 0.3s ease;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
}

.prof {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.avatar {
  height: 80%;
  border-radius: 50%;
  margin-left: 10px;
}

.modalProfile {
  display: none;
  transition: 0.3s;
}

.buttonExit {
  background-color: transparent;
  border: 1px solid black;
  text-align: end;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 8px;
  font-size: 13px;
  
}

.modalProfileShow {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 210px;
  bottom: -60px; 
  transform:translate(-50%);
  transition: 0.3s;
}

.sideBarChat:hover {
  -webkit-box-shadow: 1px 0px 10px 6px rgba(34, 60, 80, 0.23);
  -moz-box-shadow: 1px 0px 10px 6px rgba(34, 60, 80, 0.23);
  box-shadow:inset 1px 0px 10px 6px rgba(34, 60, 80, 0.23);
  transition: 0.3s;
}


.sideBarChat img{
  width: 40px;
  background-size: 15px 16px;
  fill: #ffb600;
}

.headerContainer {
  width: 100vw;
  height: 80px;
  margin: auto;
  position: relative;
}

.headerFixed {
  background: rgb(255, 255, 255);
  transition: 0.1s ease-out;
  border-bottom: 1px solid black;
  z-index: 2;
}

.header {
  min-width: 300px;
  margin: auto;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.navigation p,
.zero,
.loginButton {
  text-align: center;
  text-decoration: none;
  color: black;
}

.logo {
  height: 40px;
  width: 100px;
}

.zero {
  display: flex;
}

.loginButton {
  text-align: center;
  margin-left: 30px;
}

.loginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  height: 24px;
  margin-right: 20px;
}

.sideBarChat {
  position: relative;
  bottom: 0;
  left: 500px;
  top: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:  0.3s ease-in-out;
  transform: translateY(100%);
}

.sideBarChat .show {
  transform: translateY(0);
}