.headerClass {
  margin-top: 20px;
  position: fixed;
  left: 50%;
  width: 100%;
  transition: 0.3s ease;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.headerFixed {
  background: rgb(255, 255, 255);
  transition: 0.1s ease-out;
  border: 1px solid black;
  z-index: 2;
}

.header {
  min-width: 300px;
  margin: auto;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.navigation p,
.zero,
.loginButton {
  text-decoration: none;
  color: black;
}

.logo {
  height: 40px;
  width: 100px;
}

.zero {
  display: flex;
}

.loginButton {
  text-align: center;
}

.loginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  height: 24px;
  margin-right: 20px;
}
